.cart--window{
    position: absolute;
    z-index: 3;
    width: 500px;
    height: fit-content;
    right: 20px;
    top: 60px;
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0 15px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.cart__button{
    cursor: pointer;
    border: 0;
    background-color: white;
}
.cart__button:hover{
    background-color: inherit;
}
.cart--window__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.cart--window__subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #5ECE7B;;
}
.cart--bottom{
    height: 50px;
    background: #EAF6FF;
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #767272;
}
.bold{
    color: black;
    font-weight: 600;
}
.cart--window__button{
    width: 220px;
    height: 48px;
    background: #5ECE7B;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    border: 0;
    margin: 10px 0 0 0 ;
}
.cartSubTitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #767272;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  padding: 0 0 10px 0;
}
.cartItem{
  display: flex;
  flex-direction: row;
  height: 130px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  position: relative;
}
.cartItemInfo{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
  color: #000000;
  margin: 40px 40px 0 6px;
}
.cartItemPrice{
  width: 45px;
  height: 19px;
  background: #EAF6FF;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  color: #4191FF;
  margin: 10px 0 0 0;
}
.cartImg{
  max-height:100px ;
  margin:10px 0 0 26px ;
  width: 100px;
}
.cartImg img{
    max-height: 100px;
    max-width: 100px;
}
.cartItemAmount{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #4191FF;
  position: absolute;
  top: 50px;
  right: 100px;
}
.deleteCartItem{
  width: 20px;
  height: 20px; 
  background: rgba(248, 50, 69, 0.15);
  border-radius: 2px;
  border: 0;
  position: absolute;
  top: 50px;
  right: 40px;
  line-height: 19px;
  color: #F83245
}