.products{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0 0 0;
}
.categoryTitle{
    margin: 70px 0;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 42px;
color: #1D1F22;
}
.productWrapper{
    height: 380px;
    width: 350px;
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px;
}
.productWrapper:hover{
   box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);

}
.productImgWrapper{
    width: 100%;
    height: 280px;
    text-align: center;
}
.productImg{
   height: 100%;
   max-width: 350px;
   color: black;
}
a{
    text-decoration: none;
}
 .productName{
    font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 18px;
color: #1D1F22;
margin: 25px 0 0 0;
}
.price{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
  color: black;
}
.infoWindow{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #1D1F22;
    display: flex;
    flex-direction: column;
    gap: 10px;
}